<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Add Emp Output</title>
    <style>
        body {
            background-color: lightgrey;
            font-family: avenir;
        }
        h1 {
            color: DodgerBlue;
            font-size: 24px;
        }
        h2 {
            font-size: 18px;
        }
        button {
            background: grey;
            height: 45px;
            width: 200px;
            color: white;
            font-style: oblique;
        }
    </style>
</head>

<body>
    <center>
        <h1>SAVE SUCCESSFUL</h1>
        <h2>Following Employee has been added to the database</h2>
        <h2>{{ name }}</h2>
    </center>

    <form action="http://3.134.115.108:80/" autocomplete="on" method="GET">
        <center>
            <button type="submit">GO BACK</button>
        </center>
    </form>
</body>

</html>
